body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('../public/img/background.jpg');
  background-repeat: no-repeat;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* 
#myCanvas {
  background: url('../public/img/soccer.png');
  background-size:1000px 500px;
} */

.header {

  max-width: 1000px;
  width: 90%;
  border: 2px #ccc solid;
  background-color: rgba(255, 0, 0, 0.1);
  border-radius: 10px;
  margin: 10px 0;
  min-height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.slider {

  max-width: 1000px;
  width: 90%;
  border: 2px #ccc solid;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  margin: 10px;
  min-height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}

.slider p {
  margin: 5px 0;
  font-weight: 600;
}

.slider input {
  margin: 5px 0;
}

canvas {
  border-radius: 15px;
}

i {
  border: none;
  color: #0075ff;
  margin: 5px 5px;
}

h6>a {
  color: whitesmoke;
}

