body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* 
#myCanvas {
  background: url('../public/img/soccer.png');
  background-size:1000px 500px;
} */

.header {

  max-width: 1000px;
  width: 90%;
  border: 2px #ccc solid;
  background-color: rgba(255, 0, 0, 0.1);
  border-radius: 10px;
  margin: 10px;
  min-height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

canvas {
  border-radius: 15px;
}